*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @include respond("tab-port") {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  background-color: $color-white;

  &.disable-scroll {
    overflow: hidden;
  }
}

a {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
  }
}

.main {
  max-width: 100rem;
  margin: 5rem 3rem;

  @include respond("tab-port") {
    margin: 4rem 5rem;
  }
}

section {
  width: 100%;
  margin-top: 6rem;

  @include respond("tab-port") {
    margin-top: 5rem;
  }
}
